/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem equal 10px */
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background: rgb(65, 64, 91);
  background: linear-gradient(
    247deg,
    rgba(65, 64, 91, 1) 50%,
    rgba(22, 65, 71, 1) 100%
  );
  /* background: url("./image/background.jpg") center center;
   */
  background-size: cover;
  display: grid;
  place-content: center;
}

/* main wrapper */
.keys {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
  gap: 1rem;
}

/* key */
.key {
  border: 0.4rem solid rgb(19, 19, 29);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  text-align: center;
  color: rgba(65, 64, 91, 1);
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* transition add with js */
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
